In [9]:
import pandas as pd
import datetime
pd.options.display.max_columns = None

In [46]:
df = pd.read_excel('data/raw/MigratoryBirds.xlsx')
df.head(1)

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,infraspecificEpithet,taxonRank,scientificName,verbatimScientificName,verbatimScientificNameAuthorship,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,3695085929,4fa7b334-ce0d-4e88-aaae-2e0c138d049e,URN:catalog:CLO:EBIRD:OBS1316034146,Animalia,Chordata,Aves,Passeriformes,Hirundinidae,Hirundo,Hirundo rustica,NaN,SPECIES,"Hirundo rustica Linnaeus, 1758",Hirundo rustica,NaN,CO,Topocoro Dam,Santander,PRESENT,NaN,e2e717bf-551a-4917-bdc9-4fa0f342c530,7.04717,-73.35864,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-20,20,11,2021,9515886,9515886,HUMAN_OBSERVATION,CLO,EBIRD,OBS1316034146,NaN,NaN,NaN,CC_BY_4_0,NaN,obsr37758,NaN,NaN,2023-01-24T15:15:32.469Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES

In [75]:
df.describe()

,gbifID,infraspecificEpithet,verbatimScientificNameAuthorship,individualCount,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,day,month,year,taxonKey,speciesKey,recordNumber,identifiedBy,dateIdentified,rightsHolder,typeStatus,establishmentMeans,mediaType
count,6.874000e+03,0.0,0.0,6721.000000,6874.000000,6874.000000,0.0,0.0,0.0,0.0,0.0,0.0,6874.000000,6874.000000,6874.0,6.874000e+03,6.874000e+03,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.603274e+09,NaN,NaN,4.630710,20.890682,-667.666144,NaN,NaN,NaN,NaN,NaN,NaN,15.117399,7.213122,2021.0,6.882959e+06,6.882959e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.752956e+07,NaN,NaN,16.982455,314.396141,6663.511238,NaN,NaN,NaN,NaN,NaN,NaN,8.634741,4.148010,0.0,1.901678e+06,1.901678e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.052762e+09,NaN,NaN,1.000000,-4.207505,-81356.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,2021.0,2.487426e+06,2.487426e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.559718e+09,NaN,NaN,1.000000,4.357282,-75.947750,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,3.000000,2021.0,6.091946e+06,6.091946e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.601295e+09,NaN,NaN,1.000000,4.946208,-75.455894,NaN,NaN,NaN,NaN,NaN,NaN,14.000000,10.000000,2021.0,6.091946e+06,6.091946e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.652235e+09,NaN,NaN,3.000000,5.789457,-74.158730,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,11.000000,2021.0,9.515886e+06,9.515886e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.695086e+09,NaN,NaN,463.000000,13353.000000,-67.074790,NaN,NaN,NaN,NaN,NaN,NaN,31.000000,12.000000,2021.0,9.515886e+06,9.515886e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.verbatimScientificName.unique()

array(['Hirundo rustica', 'Cardellina canadensis', 'Vireo flavoviridis'],
      dtype=object)

In [49]:
print(df.columns.to_list())

['gbifID', 'datasetKey', 'occurrenceID', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 'infraspecificEpithet', 'taxonRank', 'scientificName', 'verbatimScientificName', 'verbatimScientificNameAuthorship', 'countryCode', 'locality', 'stateProvince', 'occurrenceStatus', 'individualCount', 'publishingOrgKey', 'decimalLatitude', 'decimalLongitude', 'coordinateUncertaintyInMeters', 'coordinatePrecision', 'elevation', 'elevationAccuracy', 'depth', 'depthAccuracy', 'eventDate', 'day', 'month', 'year', 'taxonKey', 'speciesKey', 'basisOfRecord', 'institutionCode', 'collectionCode', 'catalogNumber', 'recordNumber', 'identifiedBy', 'dateIdentified', 'license', 'rightsHolder', 'recordedBy', 'typeStatus', 'establishmentMeans', 'lastInterpreted', 'mediaType', 'issue']

In [90]:
columns_names=['verbatimScientificName', 'decimalLatitude', 'decimalLongitude', 'eventDate', 'day', 'month', 'year']

In [51]:
df2 =df[columns_names]

In [52]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6874 entries, 0 to 6873
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   verbatimScientificName  6874 non-null   object
 1   decimalLatitude         6874 non-null   float64
 2   decimalLongitude        6874 non-null   float64
 3   eventDate               6874 non-null   datetime64[ns]
 4   day                     6874 non-null   int64
 5   month                   6874 non-null   int64
 6   year                    6874 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 376.0+ KB

In [80]:
df3 = df2.copy()
df3['week_temp'] = df3['eventDate'].dt.strftime("%U")

In [64]:
df3.week.unique()

array(['46', '52', '50', '41', '47', '40', '49', '51', '37', '48', '13',
       '43', '45', '42', '39', '38', '44', '32', '20', '34', '11', '15',
       '12', '05', '18', '16', '36', '10', '03', '14', '02', '04', '35',
       '01', '08', '09', '17', '21', '06', '19', '07', '00', '31', '25',
       '33', '29'], dtype=object)

In [81]:
df3['week'] = df3['week_temp'].apply(lambda x: int(x.lstrip('0')) if x.lstrip('0').isdigit() else 0)

In [83]:
df3.week.unique()

array([46, 52, 50, 41, 47, 40, 49, 51, 37, 48, 13, 43, 45, 42, 39, 38, 44,
       32, 20, 34, 11, 15, 12,  5, 18, 16, 36, 10,  3, 14,  2,  4, 35,  1,
        8,  9, 17, 21,  6, 19,  7,  0, 31, 25, 33, 29])

In [84]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6874 entries, 0 to 6873
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   verbatimScientificName  6874 non-null   object
 1   decimalLatitude         6874 non-null   float64
 2   decimalLongitude        6874 non-null   float64
 3   eventDate               6874 non-null   datetime64[ns]
 4   day                     6874 non-null   int64
 5   month                   6874 non-null   int64
 6   year                    6874 non-null   int64
 7   week_temp               6874 non-null   object
 8   week                    6874 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 483.5+ KB

In [91]:
columns_names.append('week')

In [92]:
print(columns_names)

['verbatimScientificName', 'decimalLatitude', 'decimalLongitude', 'eventDate', 'day', 'month', 'year', 'week']

In [93]:
df3[columns_names].to_csv('data/df/migratorybirds.csv', index=False)

### Creating the maps

In [94]:
df4 = pd.read_csv('data/df/migratorybirds.csv')

In [95]:
df4.head(1)

,verbatimScientificName,decimalLatitude,decimalLongitude,eventDate,day,month,year,week
0,Hirundo rustica,7.04717,-73.35864,2021-11-20,20,11,2021,46